{
    "singleQuote": true,
    "semi": true,
    "tabWidth": 2,
    "trailingComma": "none",
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "parser": "scss"
            }
        }
    ]
}