// 基礎設定
$grid-columns: 12;
$gutter: 20px; // 左右各 10px
$container-max-width: 1440px;

// 斷點設定 (根據你的原代碼數值)
$breakpoints: (
    "sm": 390px,
    "md": 810px,
    "lg": 1024px,
    "xl": 1320px,
    "xxl": 1440px
);

.container{
    margin: auto;
    max-width: $container-max-width;
    padding: 0 ($gutter/2);
    width: 100%;
}

@media screen and (max-width: 1440px) {
    .container{
        max-width: 95%;
    }
     // 在小於 1440px 時，左右留白保持彈性
}
@media screen and (max-width: 1200px) {
    .container{
        max-width: 98%;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -($gutter/2);
    margin-left: -($gutter/2);
}

//所有欄位共通樣式
[class*="col-"], .col{
    padding: 0 ($gutter/2);
    box-sizing: border-box;
}

//生成通用格線
@for $i from 1 through $grid-columns{
    .col-#{$i}{
        width: percentage($i/$grid-columns);
    }
}

@each $key, $val in $breakpoints{
    @media screen and (max-width: $val){
        .container{
            max-width: if($key == "lg" , 98%, 95%);
        }
        @for $i from 1 through $grid-columns {
            .col-#{$key}-#{$i} {
                width: percentage($i / $grid-columns);
            }
        }
    }
}
