
.workspace-layout {
    display: flex;
    height: 100vh;
    overflow: hidden; // 防止外層出現捲軸

    // // 側邊欄固定寬度
    .sidebar {
        width: $sidebar-width;
        background: $primary-color-100;
        display: flex;
        flex-direction: column;
        padding: 24px;

        .logo {
            font-size: 1.5rem;
            font-weight: bold;
            color: $primary-color-800;
            margin-bottom: 2rem;
        }
    }
}