// 一般表單 Input (維持原本設計)
.form-input {
  @include input-style();

  &.is-error {
    @include input-status($secondary-color-danger-700);
  }

  &.is-success {
    @include input-status($secondary-color-success-700);
  }
}

// 提示文字
.input-message {
  font-size: 12px;
  margin-top: 4px;
  display: none;
}
